@{
    ViewData["Title"] = "Yetkisizsiniz";
    
}

@{
    <div class="container">

        <div class="d-flex justify-content-center row">

            <span class="alert alert-danger rounded">
                <h1 class="text-info"> Erişim Yetkiniz Bulunmamaktadır.</h1>
            </span>

        </div>

    </div>
}
