@{
    ViewData["Title"] = "Başarılı";

}

@{
    <div class="container">

        <div class="d-flex justify-content-center row">

            <span class="alert alert-success rounded">
                <h3 class="text-info"> Ürün ekleme başarılı ! <a asp-action="AddProduct" asp-controller="Urunler" class="text-primary text-decoration-underline font-weight-bold">Ekleme</a> Sayfasına git.</h3>
            </span>

        </div>

    </div>
}
